:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-secondary: hsl(208, 11%, 55%);
  --cyan-pale: hsl(193, 100%, 96%);
  --cyan-dark: hsl(192, 100%, 9%);
  --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-secondary);
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #fff;
}

/* LAYOUT */

.container {
  display: grid;
  grid-template-columns:
    [full-start] 2rem [center-start] minmax(15rem, 1fr) [center-end] 2rem
    [full-end];
}

.header,
.main,
.footer {
  grid-column: full-start / full-end;
  padding: 2rem;
}

.header {
  background-image: linear-gradient(var(--cyan-pale), var(--cyan-pale)),
    url(./images/bg-hero-mobile.svg);
  background-size: cover;
  text-align: center;
}

.main {
  position: relative;
}

.cta {
  grid-column: center-start / center-end;
}

.footer {
  background-color: var(--cyan-dark);
  padding: 12rem 2rem 4rem 2rem;
  color: #fff;
  font-size: 1.25rem;
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  color: var(--cyan-dark);
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  font-weight: 700;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.btn--cta {
  padding: 0.5rem 2rem;
  color: var(--cyan-dark);
  background-color: #fff;
  border-radius: 10px;
}

.btn--primary {
  background-color: var(--color-primary);
  border-radius: 25px;
  font-size: 1.25rem;
  padding: 1rem 7rem;
  margin-bottom: 5rem;
}

.btn--fat {
  padding: 1.5rem 5rem;
  margin-bottom: 0;
}

/* HEADER */

.header__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

.header__img {
  height: 2rem;
}

.header__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.header__description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

/* FEATURE */

.feature {
  padding: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-bottom: 5rem;
  text-align: center;
}

.feature__img {
  margin-bottom: 5rem;
}

.feature__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.feature__text {
  font-size: 1.25rem;
}

/* CTA */
.cta {
  padding: 3rem 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(40%);
}

.cta__title {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

/* FOOTER */

.footer__img {
  height: 3rem;
  margin-bottom: 2.5rem;
}

.contact {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.contact__img {
  height: 1.5rem;
  margin-right: 2rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 0;
  display: inline-block;
}

.footer__copyright {
  text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 640px) {
  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .feature__img {
    margin-bottom: 0;
  }

  .feature__img--right {
    order: 10;
    margin-left: 5rem;
  }

  .feature__img--left {
    order: -1;
    margin-right: 5rem;
  }

  .feature__content {
    padding: 0 3rem;
  }
}
